<form {{action "submitSequence" on="submit"}}>
{{input value=actionSequence}}
    <button type="submit">Go</button>
</form>

<button {{action "rotateLeft"}}>⃔</button>
<button {{action "rotateRight"}}>⃕</button>
<button {{action "move"}}>→</button>
