{{#unless isGameOver}}

    {{rover-controls
        rover=rover
    }}
    {{viewport-block
        rover=rover
        plateau=plateau
    }}

    x: {{rover.positionX}}, y: {{rover.positionY}}, angle: {{rover.normalizedAngle}}, rad: {{rover.angleRadians}}

{{else}}

    Game over
    <button {{action "restart"}}>Restart</button>

{{/unless}}
